<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <div th:replace="/system/section/head"></div>
</head>
<body>
<div class="layui-fluid animated fadeInLeft">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">线程信息</div>
                <div class="layui-card-body">
                    <div class="layui-form">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>对象名称</th>
                                <th>仍活动的线程总数</th>
                                <th>峰值</th>
                                <th>线程总数（被创建并执行过的线程总数）</th>
                                <th>当初仍活动的守护线程（daemonThread）总数</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${jvmInfo.threadObjectName}"></td>
                                <td th:text="${jvmInfo.threadThreadCount}"></td>
                                <td th:text="${jvmInfo.threadPeakThreadCount}"></td>
                                <td th:text="${jvmInfo.threadTotalStartedThreadCount}"></td>
                                <td th:text="${jvmInfo.threadDaemonThreadCount}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">存活线程信息</div>
                <div class="layui-card-body">
                    <div class="layui-form">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>线程id</th>
                                <th>线程名称</th>
                                <th>状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="entity : ${jvmInfo.threadInfos}">
                                <td th:text="${entity.threadId}"></td>
                                <td th:text="${entity.threadName}"></td>
                                <td th:text="${entity.threadState}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">死锁线程信息</div>
                <div class="layui-card-body">
                    <div class="layui-form">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>线程id</th>
                                <th>线程名称</th>
                                <th>阻塞时间</th>
                                <th>等待时间</th>
                                <th>堆栈跟踪</th>
                                <th>状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="entity : ${jvmInfo.deadlockThreadInfos}">
                                <td th:text="${entity.threadId}"></td>
                                <td th:text="${entity.threadName}"></td>
                                <td th:text="${entity.blockedTime}"></td>
                                <td th:text="${entity.waitedTime}"></td>
                                <td th:text="${entity.stackTrace}"></td>
                                <td th:text="${entity.threadState}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<div th:replace="/system/section/js"></div>
<script th:inline="javascript">
    layui.use(['element', 'table', 'zyxx', 'form', 'layer'], function () {
        var element = layui.element
            , table = layui.table
            , form = layui.form
            , zyxx = layui.zyxx
            , layer = layui.layer
            , $ = layui.jquery;

    });
</script>
</html>
