<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <div th:replace="/system/section/head"></div>
</head>
<body>
<div class="layui-fluid animated fadeInLeft">
    <div class="layui-card">
        <div class="layui-card-body">
            <blockquote class="layui-elem-quote">
                <ul>
                    <li>上传大小限制：默认300M</li>
                    <li>html上传实际中并不多用，ajax居多</li>
                    <li>每个请求上传后台都会返回访问路径，多文件则用“,”分隔开</li>
                    <li>资源访问前缀：http://localhost:8080/fileserver-static</li>
                </ul>
            </blockquote>
            <div class="layui-row">
                <div class="layui-col-md12">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>html上传</legend>
                    </fieldset>
                </div>
                <div class="layui-col-md4">
                    <h3>文件上传</h3>
                    <form method="POST" action="/fileserver/upload" enctype="multipart/form-data">
                        <input type="file" name="file"/><br/><br/>
                        文件夹名称：<input type="text" name="folder" value="upload"/><br/><br/>
                        <input type="submit" value="Submit"/>
                    </form>
                </div>
                <div class="layui-col-md4">
                    <h3>多文件上传</h3>
                    <form method="POST" action="/fileserver/uploadMore" enctype="multipart/form-data">
                        <input type="file" name="file" multiple="multiple"/><br/><br/>
                        文件夹名称：<input type="text" name="folder" value="uploadFile"/><br/><br/>
                        <input type="submit" value="Submit"/>
                    </form>
                </div>
                <div class="layui-col-md4">
                    <h3>图片上传 - 压缩</h3>
                    <form method="POST" action="/fileserver/uploadByThumbnail" enctype="multipart/form-data">
                        <input type="file" name="file" multiple="multiple"/><br/><br/>
                        文件夹名称：<input type="text" name="folder" value="uploadByThumbnail"/><br/><br/>
                        是否保存原图：<input type="radio" name="saveOld" value="true" checked>是</label>
                        <input type="radio" name="saveOld" value="false">否</label>
                        <br/><br/>
                        <input type="submit" value="Submit"/>
                    </form>
                </div>
                <div class="layui-col-md12">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>ajax上传</legend>
                    </fieldset>
                </div>
                <div class="layui-col-md4">
                    <h3>FormData上传</h3>
                    <input type="file" name="file" id="formDataUpload"/><br/><br/>
                    文件夹名称：<input type="text" name="folder" value="ajax" id="formDataFolder"/><br/><br/>
                    <input type="button" value="Submit" id="formDataButton"/>
                </div>
                <div class="layui-col-md4">
                    <h3>将指定文件夹打包为zip</h3>
                    <form method="POST" action="/fileserver/folderToZip">
                        待压缩的文件路径：<input type="text" name="folderPath"/><br/><br/>
                        压缩后存放路径：<input type="text" name="zipPath"/><br/><br/>
                        压缩后文件的名称：<input type="text" name="fileName"/><br/><br/>
                        <input type="submit" value="Submit"/>
                    </form>
                </div>
                <div class="layui-col-md4">
                    <h3>生成二维码</h3>
                    <form method="POST" action="/fileserver/createQrCode">
                        文件夹名称：<input type="text" name="folder" value="createQrCode"/><br/><br/>
                        二维码内容：<input type="text" name="content" value="qrcode"/><br/><br/>
                        <input type="submit" value="Submit"/>
                    </form>
                </div>
                <div class="layui-col-md12">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>下载</legend>
                    </fieldset>
                </div>
                <div class="layui-col-md12">
                    <h3>下载文件</h3>
                    <form method="POST" action="/fileserver/downloadFile">
                        文件路径：<input type="text" name="filePath"
                                    value="/default/2020/04/12/1fee42a4-f902-488b-87c6-ca82ea6bc958.jpg"/><br/><br/>
                        下载名称：<input type="text" name="fileName" value="我是下载文件的名字.jpg"/><br/><br/>
                        <input type="submit" value="Submit"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<div th:replace="/system/section/js"></div>
<script th:inline="javascript">
    layui.use(['element', 'table', 'zyxx', 'form', 'layer'], function () {
        var element = layui.element
            , table = layui.table
            , form = layui.form
            , zyxx = layui.zyxx
            , layer = layui.layer
            , $ = layui.jquery;

        $('#formDataButton').on('click', function () {
            var formData = new FormData();
            formData.append("file", $('#formDataUpload')[0].files[0]);
            formData.append("folder", $.trim($('#formDataFolder').val()));
            $.ajax({
                url: '/fileserver/upload',
                dataType: 'json',
                type: 'POST',
                data: formData,
                processData: false, // 使数据不做处理
                contentType: false, // 不要设置Content-Type请求头
                success: function (res) {
                    console.log(res);
                    if (res.code == 200) {
                        layer.open({
                            title: '上传成功'
                            , content: JSON.stringify(res)
                        });
                    } else {
                        alert("上传失败");
                    }
                },
                error: function (res) {
                    console.log(res);
                }
            });
        });
    });
</script>
</html>
