<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <div th:replace="/system/section/head"></div>
</head>
<body>
<div class="layui-fluid animated fadeInLeft">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 搜索条件 -->
            <div class="layui-row" id="zyxx-search">
                <div class="layui-col-md12">
                    <form class="layui-form" id="searchForm" lay-filter="searchFormFilter">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">字典标签</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="text" autocomplete="off" class="layui-input" placeholder="请输入">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">字典键值</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="value" autocomplete="off" class="layui-input" placeholder="请输入">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label"></label>
                                <div class="layui-input-inline">
                                    <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="search">
                                        <i class="layui-icon layui-icon-search"></i>查询
                                    </button>
                                    <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" lay-event="reset">
                                        <i class="layui-icon layui-icon-refresh"></i>重置
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-col-md12 layui-btn-header">
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="search">
                        <i class="layui-icon layui-icon-refresh"></i>刷新
                    </button>
                    <button type="button" class="layui-btn layui-btn-sm" lay-event="add">
                        <i class="layui-icon layui-icon-add-1"></i>新增
                    </button>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12">
                    <!-- 数据表格 -->
                    <table class="layui-hide" id="dataTable" lay-filter="dataTableFilter"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 新增/更新 -->
<div id="dataModel" class="layui-model">
    <form class="layui-form" id="dataForm" lay-filter="dataFormFilter">
        <input type="hidden" th:value="${type}" name="type">
        <div class="layui-form-item">
            <label class="layui-form-label">字典标签</label>
            <div class="layui-input-block">
                <input type="text" name="text" lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">字典键值</label>
            <div class="layui-input-block">
                <input type="text" name="value" lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="number" name="sort" value="0" lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="remark" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-hide">
            <button type="submit" class="layui-btn" id="dataFormSubmit" lay-submit lay-filter="dataFormSubmitFilter"></button>
        </div>
    </form>
</div>
<div th:replace="/system/section/js"></div>
<script th:inline="javascript">
    layui.use(['element', 'table', 'zyxx', 'form', 'layer'], function () {
        var element = layui.element
            , table = layui.table
            , form = layui.form
            , zyxx = layui.zyxx
            , layer = layui.layer
            , $ = layui.jquery;

        // 数据表格
        table.render({
            id: 'dataTable'
            , elem: '#dataTable'
            , method: 'post'
            , url: '/system/dictData/listByTable'
            , page: true
            , limit: 20
            , limits: [20, 40, 50, 80, 100]
            , height: "full-" + ($('#zyxx-search').height() + 40)
            , cellMinWidth: 80
            , where: {
                type: [[${type}]]
            }
            , cols: [ [
                {type:'numbers', title: '序号', width: 80}
                , {field: 'type', title: '字典类型', width: 150}
                , {field: 'text', title: '字典标签', width: 150}
                , {field: 'value', title: '字典键值', width: 100}
                , {field: 'remark', title: '备注'}
                /*, {field: 'createUserName', title: '创建人', width: 120}*/
                , {field: 'sort', title: '排序', width: 80, sort: true}
                , {field: 'createTime', title: '创建时间', width: 160}
                , {
                    fixed: 'right', title: '操作', width: 100, templet: function (d) {
                        var dom = '';
                        dom += '<a class="layui-color-blue" lay-event="update" title="更新"><i class="layui-icon layui-icon-edit"></i></a>';
                        dom += '<a class="layui-color-red" lay-event="delete" title="删除"><i class="layui-icon layui-icon-delete"></i></a>';
                        return dom;
                    }
                }
            ]]
        });

        // 第一步：注册方法
        globalActive = {
            // 查询、刷新
            search: function() {
                var data = form.val('searchFormFilter');
                table.reload('dataTable', {where: data});
            },
            // 重置
            reset: function() {
                $("#searchForm")[0].reset();
                var data = form.val('searchFormFilter');
                table.reload('dataTable', {where: data, page: {curr: 1}});
            },
            // 新增
            add: function () {
                zyxx.openForm('新增字典数据', 'dataModel', 'dataForm', false, 500, 400, function () {
                    form.on('submit(dataFormSubmitFilter)', function (obj) {
                        layer.load(2, {shade: 0.1});
                        $.ajax({
                            url: '/system/dictData/save',
                            type: 'post',
                            data: obj.field,
                            dataType: 'json',
                            success: function (res) {
                                if (res.code == 200) {
                                    layer.msg(res.message, {icon: 1, time: 2000}, function () {
                                        layer.closeAll();
                                        globalActive.search();
                                    });
                                } else {
                                    layer.msg(res.message, {icon: 2, time: 2000});
                                }
                            },
                            error: function () {
                                layer.closeAll();
                                layer.msg('请求失败', {icon: 2, time: 2000});
                            }
                        });
                        return false;
                    });
                    $('#dataFormSubmit').trigger("click");
                });
            },
            // 数据列表
            detail: function (obj) {
                var data = zyxx.parse(obj);
                zyxx.openTabsPage('/system/dictData/initPage?type=' + data.type, '数据列表(' + data.name + ')');
            },
            // 更新
            update: function(obj) {
                var data = zyxx.parse(obj);
                form.val('dataFormFilter', data);
                zyxx.openForm('更新字典数据', 'dataModel', 'dataForm', false, 500, 400, function () {
                    form.on('submit(dataFormSubmitFilter)', function (obj) {
                        obj.field.id = data.id;
                        layer.load(2, {shade: 0.1});
                        $.ajax({
                            url: '/system/dictData/updateById',
                            type: 'post',
                            data: obj.field,
                            dataType: 'json',
                            success: function (res) {
                                if (res.code == 200) {
                                    layer.msg(res.message, {icon: 1, time: 2000}, function () {
                                        layer.closeAll();
                                        globalActive.search();
                                    });
                                } else {
                                    layer.msg(res.message, {icon: 2, time: 2000});
                                }
                            },
                            error: function () {
                                layer.closeAll();
                                layer.msg('请求失败', {icon: 2, time: 2000});
                            }
                        });
                        return false;
                    });
                    $('#dataFormSubmit').trigger("click");
                });
            },
            // 删除
            delete: function (obj) {
                var data = zyxx.parse(obj);
                layer.confirm('删除数据后不可恢复，确定删除吗？', {icon: 0, title: '提示'}, function () {
                    layer.load(2, {shade: 0.1});
                    $.ajax({
                        url: '/system/dictData/updateStatus',
                        type: 'post',
                        data: {id: data.id, status: 2},
                        dataType: 'json',
                        success: function (res) {
                            if (res.code == 200) {
                                layer.msg(res.message, {icon: 1, time: 2000}, function () {
                                    layer.closeAll();
                                    globalActive.search();
                                });
                            } else {
                                layer.msg(res.message, {icon: 2, time: 2000});
                            }
                        },
                        error: function () {
                            layer.closeAll();
                            layer.msg('请求失败', {icon: 2, time: 2000});
                        }
                    });
                });
            },
        };

        globalTableFilter = ['dataTableFilter'];
        handleFilter(table);
    });
</script>
</html>
