<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <div th:replace="/system/section/head"></div>
</head>
<body class="layui-layout-body">
<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="http://www.layui.com/admin/" target="_blank" title="前台">
                        <i class="layui-icon layui-icon-website"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search.html?keywords=">
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

                <li class="layui-nav-item" lay-unselect>
                    <a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
                        <i class="layui-icon layui-icon-notice"></i>

                        <!-- 如果有新消息，则显示小圆点 -->
                        <span class="layui-badge-dot"></span>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="theme">
                        <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="note">
                        <i class="layui-icon layui-icon-note"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite><shiro:principal property="userName"/></cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="/system/userInfo/myselfPage">个人中心</a></dd>
                        <hr>
                        <dd style="text-align: center;"><a href="/logout">退出</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                    <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo">
                    <span>智阳权限管理系统</span>
                </div>

                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                    <li data-name="home" class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;" lay-tips="主页" lay-direction="2">
                            <i class="layui-icon layui-icon-home"></i>
                            <cite>主页</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd data-name="console" class="layui-this">
                                <a lay-href="/home">控制台</a>
                            </dd>
                        </dl>
                    </li>
                    <li data-name="system" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="系统管理" lay-direction="2">
                            <i class="layui-icon layui-icon-set"></i>
                            <cite>系统管理</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a lay-href="/system/userInfo/initPage">用户管理</a>
                            </dd>
                            <dd>
                                <a lay-href="/system/roleInfo/initPage">角色管理</a>
                            </dd>
                            <dd>
                                <a lay-href="/system/resourceInfo/initPage">菜单管理</a>
                            </dd>
                            <!--<dd>
                                <a lay-href="/system/resourceInfo/initPage">字典管理</a>
                            </dd>-->
                            <dd data-name="log">
                                <a href="javascript:;">日志管理</a>
                                <dl class="layui-nav-child">
                                    <dd>
                                        <a lay-href="/system/systemLog/initPage">系统日志</a>
                                    </dd>
                                    <dd>
                                        <a lay-href="/system/loginLog/initPage">登录日志</a>
                                    </dd>
                                </dl>
                            </dd>
                        </dl>
                    </li>
                    <li data-name="monitor" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="系统监控" lay-direction="2">
                            <i class="layui-icon layui-icon-engine"></i>
                            <cite>系统监控</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <!--<dd>
                                <a lay-href="/system/resourceInfo/initPage">在线用户</a>
                            </dd>
                            <dd>
                                <a lay-href="">Redis监控</a>
                            </dd>
                            <dd>
                                <a lay-href="">Redis终端</a>
                            </dd>-->
                            <dd data-name="jvm">
                                <a href="javascript:;">JVM信息</a>
                                <dl class="layui-nav-child">
                                    <dd><a lay-href="/jvm/jvmInfo/detailPage?type=1">系统信息</a></dd>
                                    <dd><a lay-href="/jvm/jvmInfo/detailPage?type=2">运行信息</a></dd>
                                    <dd><a lay-href="/jvm/jvmInfo/detailPage?type=3">线程信息</a></dd>
                                    <dd><a lay-href="/jvm/jvmInfo/detailPage?type=4">内存信息</a></dd>
                                </dl>
                            </dd>
                        </dl>
                    </li>
                    <li data-name="test" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="开发工具" lay-direction="2">
                            <i class="layui-icon layui-icon-component"></i>
                            <cite>开发工具</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd data-name="ui">
                                <a href="javascript:;">前端插件</a>
                                <dl class="layui-nav-child">
                                    <dd><a lay-href="/ui/intPage?type=1">图片预览</a></dd>
                                </dl>
                            </dd>
                            <dd>
                                <a lay-href="/swagger-ui.html">开发文档</a>
                            </dd>
                            <dd>
                                <a lay-href="/system/authorization/testPage">权限测试</a>
                            </dd>
                            <dd>
                                <a lay-href="/system/resourceInfo/initPage">代码生成</a>
                            </dd>
                            <dd>
                                <a lay-href="/fileserver/initPage">文件服务</a>
                            </dd>
                            <dd data-name="data">
                                <a href="javascript:;">数据服务</a>
                                <dl class="layui-nav-child">
                                    <dd><a lay-href="/backup/mysqlBackup/initPage">数据备份</a></dd>
                                    <dd><a lay-href="/backup/mysqlRecover/initPage">数据恢复</a></dd>
                                </dl>
                            </dd>
                        </dl>
                    </li>
                    <!--<li data-name="get" class="layui-nav-item">
                        <a href="javascript:;" lay-href="http://www.layui.com/admin/#get" lay-tips="授权" lay-direction="2">
                            <i class="layui-icon layui-icon-auz"></i>
                            <cite>授权</cite>
                        </a>
                    </li>-->
                </ul>
            </div>
        </div>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="/home" lay-attr="/home" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>


        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="/home" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
</body>

<div th:replace="/system/section/js"></div>
<script th:inline="javascript">
    layui.use(['element', 'index'], function () {
        var element = layui.element;
    });
</script>
</html>
